<!-- Chat -->
<div class="chat">
  <div class="chat--bubbles-container">
    {{ "CHAT_TITLE" | translate }}
    @for (bubble of chatBubbles; track bubble) {
      <div class="chat--bubbles-sub-container">
        <div class="chat--bubble-row">
          <div [ngClass]="getBubbleStyle(bubble)">
            <div class="chat--bubble-sender">{{ bubble.sender }}</div>
            {{ bubble.body | translate }}
          </div>
        </div>
      </div>
    }
  </div>

  <div class="chat--hints-container">
    {{ "CHAT_SEND" | translate }}
    @for (hint of chatHints; track hint) {
      <div class="chat--hints-sub-container">
        <button class="chat--hint" (click)="sendChatMessage(hint)">
          {{ hint | translate }}
        </button>
      </div>
    }
  </div>
</div>
