**/.vs
**/.vscode
**/.idea
**/.angular
**/.DS_Store
**/dist
**/node_modules
npm-debug.log
config.env
firebase-config.json
client/src/environments/environment.ts
client/src/environments/environment.development.ts
