\.vscode
\.idea
src/settings.js
build/settings.js
node_modules
src/environments/environment.prod.ts
src/environments/environment.ts
src/environments/environment.development.ts
\.angular
dist/
src/.DS_Store
.DS_Store
