<div id="arcade-match" class="app-page">
  <div class="app-page-body">
    <div class="app-page-text">
      <!-- COUNTDOWN -->
      @if (countdownInProgress) {
      <app-countdown-cody (startMatchTimers)="startMatchTimers()" />
      } @if (!countdownInProgress) {
      <div id="match-in-progress" class="page--component">
        <!-- PLAYER / ENEMY SCOREBOARD -->
        @if (general.botSetting !== 0) {
        <div class="match-scoreboard">
          <!-- PLAYER -->
          <div class="match-player">
            <div class="big-text ellipsize">
              {{ userMatchResult.points }}
            </div>

            <div class="match-player--nickname ellipsize">
              {{ user.nickname }}
            </div>

            <div
              class="match-player--timer ellipsize"
              [ngClass]="userTimerAnimation"
            >
              <span class="material-symbols-outlined"> schedule </span>
              {{ timerFormatter(userTimerValue) }}
            </div>
          </div>

          <!-- ENEMY -->
          <div class="match-player">
            <div class="big-text ellipsize">
              {{ enemyMatchResult.points }}
            </div>

            <div class="match-player--nickname ellipsize">
              {{ enemy.nickname }}
            </div>

            <div
              class="match-player--timer ellipsize"
              [ngClass]="enemyTimerAnimation"
            >
              <span class="material-symbols-outlined"> schedule </span>
              {{ timerFormatter(enemyTimerValue) }}
            </div>
          </div>
        </div>
        }

        <!-- PLAYGROUND (grid + draggable Roby) -->
        <div class="playground">
          <app-match-grid
            [grid]="grid"
            [tilesCss]="tilesCss"
            [executeAnimation]="executeAnimation"
            [playerPath]="playerPath"
            [enemyPaths]="enemyPaths"
            [botSetting]="general.botSetting || 0"
            [isBot]="false"
            [Side]="Side"
            [skipAnimation]="askedForSkip"
            [endRoute]="'/arcade-aftermatch'"
            (tileDropped)="onTileDropped($event.side, $event.distance)"
            (dragStarted)="onDragStarted()"
            (dragEnded)="onDragEnded()"
            [isTimeout]="isTimeout"
          ></app-match-grid>

          <!-- PLAYER TIME DISPLAY -->
          @if (match.positioned && match.time > 0) {
          <div class="centered-container">
            <span class="material-symbols-outlined"> schedule </span>

            {{
              "TIME_PLAYER"
                | translate
                  : {
                      time: timerFormatter(match.time)
                    }
            }}
          </div>
          } @if (match.positioned && match.time === 0) {
          <div class="centered-container">
            <span class="material-symbols-outlined"> schedule </span>

            {{ "TIME_OUT" | translate }}
          </div>
          }

          <!-- SKIP BUTTON -->
          @if (executeAnimation) {
          <div class="centered-container">
            @if (!askedForSkip) {
            <button
              class="navigation--button flashing-animation"
              (click)="skip()"
            >
              {{ "SKIP" | translate }}

              <span
                class="material-symbols-outlined inline-block animate-slide-left icon-lg"
              >
                keyboard_double_arrow_right
              </span>
            </button>
            }

            <!-- WAIT ENEMY SKIP -->
            @if (askedForSkip) {
            <div class="flashing-animation">
              {{ "WAIT_SKIP" | translate }}
            </div>
            }
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
