.preview-board {
  position: relative;
  width: 340px; /* same size as your grid */
  height: 340px;
  border: 4px solid white;
}

.roby {
  position: absolute;
  width: 45px;
  height: 45px;
  will-change: transform;
  transform-origin: 50% 50%;
  z-index: 9;
}

/* Position each robot at its entry side */
.roby-top {
  top: -45px; /* just outside top edge */
  left: calc(50% - 22.5px);
}

.roby-right {
  right: -45px; /* just outside right edge */
  top: calc(50% - 22.5px);
}

.roby-bottom {
  bottom: -45px; /* just outside bottom edge */
  left: calc(50% - 22.5px);
}

.roby-left {
  left: -45px; /* just outside left edge */
  top: calc(50% - 22.5px);
}
