<div class="preview-board">
  <!-- Top (facing down into the board) -->
  <img
    src="assets/img/roby-positioned.png"
    class="roby roby-top"
    alt="Roby from top"
  />

  <!-- Right (facing left into the board) -->
  <img
    src="assets/img/roby-positioned.png"
    class="roby roby-right"
    alt="Roby from right"
  />

  <!-- Bottom (facing up into the board) -->
  <img
    src="assets/img/roby-positioned.png"
    class="roby roby-bottom"
    alt="Roby from bottom"
  />

  <!-- Left (facing right into the board) -->
  <img
    src="assets/img/roby-positioned.png"
    class="roby roby-left"
    alt="Roby from left"
  />
</div>
