/* -------------------------------------------------------------------------
 * Modulo chat: comprende i componenti che permettono di instaurare una chat
 * tra due giocatori nelle schermate di matchmaking e aftermatch
 * ------------------------------------------------------------------------- */

.chat {
  margin: 20px auto 0;
  display: flex;
  gap: 20px;
}

#aftermatch .chat {
  margin: 0 auto;
}

.chat--hints-container,
.chat--bubbles-container {
  flex: 1 1 0;
  min-width: 0;
  height: 40vh;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.11);
  overflow: auto;
}

@media only screen and (min-width: 716px) {
  .chat--hints-container,
  .chat--bubbles-container {
    margin: 10px;
  }
}

.chat--hints-container {
  padding: 10px 10px 0 10px;
}

.chat--bubbles-container {
  padding: 10px 0;
}

.chat--bubbles-sub-container,
.chat--hints-sub-container {
  width: 100%;
  box-sizing: border-box;
  color: black;
}

button.chat--hint {
  margin: 10px;
  float: left;
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {
  button.chat--hint:hover {
    background-color: #818387;
  }
}

.chat--bubble-row {
  display: flex;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

.chat--bubble-player,
.chat--bubble-enemy {
  display: block;
  max-width: calc(100% - 40px);
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  position: relative;
}

.chat--bubble-player {
  margin-left: 20px;
  background-color: #48af9b;
}

.chat--bubble-enemy {
  margin-left: auto;
  margin-right: 20px;
  background-color: #ba793a;
}

.chat--bubble-enemy {
  float: right;
  text-align: right;
  margin-right: 20px;
  background-color: #ba793a;
}

.chat--bubble-enemy:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid #ba793a;
  border-right: 15px solid transparent;
  border-top: 15px solid #ba793a;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0;
}

.chat--bubble-player:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #48af9b;
  border-top: 15px solid #48af9b;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0;
}

.chat.ng-hide-remove {
  animation: fadein 0.2s both ease-in;
}

.chat.ng-hide-add {
  animation: fadeout 0.2s both ease-in;
}

@media screen and (max-width: 716px) {
  .chat {
    flex-direction: column;
  }

  .chat--hints-container,
  .chat--bubbles-container {
    width: 100%;
    flex: none;
    margin: 10px 0;
  }
}
