.roby {
  position: absolute;
  width: 45px;
  height: 45px;
  will-change: transform;
  z-index: 9;
  transform-origin: 50% 50%;
}

.roby img {
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}
