.board {
  position: relative;
  width: 350px;
  height: 350px;
}

.roby {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  will-change: transform;
  z-index: 9;
  transform-origin: 50% 50%;
}

.roby-image {
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}
