@if (executeAnimation) {
  <div>
    <div
      class="roby"
    [@move]="{
      value: state,
      params: {
        x: currentX,
        y: currentY,
        angle: currentAngle,
        duration: moveDuration,
        turnDuration: turnDuration
      }
    }"
    >
    <img
      [src]="'assets/img/' + currentImage + '.png'"
      alt="Roby"
      class="roby-image"
      />
  </div>
</div>
} @else {
  @if (!isBot) {
    <div>
      <div class="roby placed-roby" [ngStyle]="getPlacedRobyStyles()">
        <img
          [src]="'assets/img/' + currentImage + '.png'"
          alt="Roby"
          class="roby-image"
          />
      </div>
    </div>
  }
}
