<div *ngIf="!showCompleteGrid" class="playground">
  <table class="playground--table">
    <tr *ngFor="let row of tilesCss; let rowIndex = index">
      <td *ngFor="let tileClass of row; let colIndex = index">
        <div [ngClass]="tileClass"></div>
      </td>
    </tr>
  </table>
</div>
<div class="w-full relative" cdkDropListGroup>
  <div
    class="small-grid"
    [ngClass]="{ hidden: !showCompleteGrid }"
    #smallGridRef
  >
    <div class="robot-overlay">
      <app-roby-animation
        *ngIf="executeAnimation && playerPath"
        #playerAnim
        [path]="playerPath"
        [startPixel]="rectCurrentArrow"
        (finished)="executeEndSequence('player')"
        image="roby-positioned"
        class="roby-wrapper"
      ></app-roby-animation>
      @for (enemyPath of enemyPaths; track enemyPath) {
      <div *ngIf="executeAnimation && enemyPath && botSetting !== 0">
        <app-roby-animation
          #enemyAnim
          [isBotOrEnemy]="true"
          [path]="enemyPath"
          (finished)="executeEndSequence('enemy')"
          [image]="'enemy-positioned'"
          class="roby-wrapper"
        ></app-roby-animation>
      </div>
      }
    </div>
    <!-- Top row -->
    <div class="cell placeholder"></div>
    @for (col of grid[0]; let colIndex = $index; track colIndex) {
    <div
      class="cell arrow-cell"
      [attr.data-side]="Side.Top"
      [attr.data-index]="colIndex"
    >
      <span class="material-symbols-outlined">
        {{ getArrowIcon(Side.Top) }}
      </span>
    </div>

    }
    <div class="cell placeholder"></div>
    <!-- Playable rows -->
    @for (row of grid; let rowIndex = $index; track rowIndex) {
    <!-- Left arrow -->
    <div
      class="cell arrow-cell"
      [attr.data-side]="Side.Left"
      [attr.data-index]="rowIndex"
    >
      <span class="material-symbols-outlined">
        {{ getArrowIcon(Side.Left) }}
      </span>
    </div>

    <!-- Tiles -->
    @for (cell of row; track cell) {
    <div class="cell" [ngClass]="tilesCss[cell.row][cell.col]"></div>
    }

    <!-- Right arrow -->
    <div
      class="cell arrow-cell"
      [attr.data-side]="Side.Right"
      [attr.data-index]="rowIndex"
    >
      <span class="material-symbols-outlined">
        {{ getArrowIcon(Side.Right) }}
      </span>
    </div>
    }

    <!-- Bottom row -->
    <div class="cell placeholder"></div>
    @for (col of grid[0]; let colIndex = $index; track colIndex) {
    <div
      class="cell arrow-cell"
      [attr.data-side]="Side.Bottom"
      [attr.data-index]="colIndex"
    >
      <span class="material-symbols-outlined">
        {{ getArrowIcon(Side.Bottom) }}
      </span>
    </div>
    }
    <div class="cell placeholder"></div>
  </div>

  <div
    *ngIf="!executeAnimation && playerPath?.pathLength === 0"
    cdkDropList
    class="z-20"
  >
    <div
      cdkDrag
      [cdkDragData]="{ type: 'robot' }"
      (cdkDragStarted)="onDragStarted($event)"
      (cdkDragMoved)="onDragMoved($event)"
      (cdkDragEnded)="onDragEnded($event)"
      class="draggable-wrapper"
    >
      <!-- Normal image (when not dragging) -->
      <img
        [src]="'assets/img/roby-idle.png'"
        alt="idle Roby"
        [ngClass]="
          showCompleteGrid
            ? 'roby-draggable'
            : 'roby-draggable floating-up-animation'
        "
      />

      <!-- Preview that follows the cursor -->
      <img
        [src]="
          isOverArrow
            ? 'assets/img/roby-over.png'
            : 'assets/img/roby-dragging-trasp.png'
        "
        *cdkDragPreview
        alt="dragging Roby"
        [ngClass]="
          showCompleteGrid
            ? 'roby-draggable'
            : 'roby-draggable floating-up-animation'
        "
      />
      <!-- Placeholder that replaces the original while dragging -->
      <ng-template class="example-custom-placeholder" cdkDragPlaceholder>
        <div></div>
      </ng-template>
    </div>
  </div>
</div>
