.small-grid {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr repeat(5, 50px) 1fr;
  grid-template-rows: 1fr repeat(5, 50px) 1fr;
  gap: 5px;
  width: 280px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0px;
}

.placeholder {
  background: transparent;
}

.roby-wrapper {
  position: absolute;
  inset: 0; /* fill the overlay box */
  pointer-events: none;
}
.robot-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 270px;
  height: 270px;
  pointer-events: none;
  z-index: 20;
}

.roby img {
  width: 30px;
  height: 30px;
}

.empty-surface {
  position: absolute;
  background-color: aqua;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; /* below robot's z-index */
  pointer-events: none; /* allow robot to be clickable */
}
