<!-- Ready clicked, aspettando il segnale di ready dell'avversario -->
<div
  id="waiting-confirm"
  ng-show="mmakingState === screens.waitingReady"
  class="page--component"
  >
  <ul class="list">
    <li class="list--spaced-element">
      <div class="loading-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </li>
    <li class="list--spaced-element">
      @if (timerValue !== undefined) {
        <div
          class="flashing-animation"
          >
          {{ messageKey | translate }} <br />
          {{ formattedTimer }}
        </div>
      } @else {
        <div class="flashing-animation">
          {{ messageKey | translate }} <br />
        </div>
      }
    </li>
  </ul>
</div>
