<div id="royale-mmaking" class="app-page">
  <div class="app-page-body">
    <div class="app-page-text">
      <!-- Join match -->
      @if (mmakingState === screens.joinMatch) {
      <section class="page--component">
        <section>
          <h2>{{ "AGA_MATCH" | translate }}</h2>

          <p class="section-text">
            {{ "AGA_MATCH_DESC" | translate }}
          </p>

          <button
            type="button"
            class="navigation--button flashing-animation"
            (click)="goToCreateMatch()"
            [disabled]="mmakingRequested"
          >
            <span [innerHTML]="'NEW_AGA' | translate"></span>
            <i
              class="material-symbols-outlined floating-right-animation navigation--icon-in-text icon-lg"
            >
              keyboard_double_arrow_right
            </i>
          </button>
        </section>

        <form #customMatchForm="ngForm" class="match-form">
          <h2>{{ "JOIN_BATTLE" | translate }}</h2>

          <p class="section-text">
            {{ "JOIN_DESC" | translate }}
          </p>

          <div class="form-field">
            <label for="code">
              {{ "CODE" | translate }}
            </label>

            <input
              type="number"
              id="code"
              name="codeValue"
              class="standard-input"
              [(ngModel)]="codeValue"
              [placeholder]="'CODE_EXAMPLE' | translate"
              required
              min="1"
              max="9999"
              autofocus
            />
          </div>

          <button
            type="button"
            class="navigation--button flashing-animation"
            (click)="joinGame(codeValue)"
            [disabled]="
              (customMatchForm.invalid && customMatchForm.touched) ||
              mmakingRequested
            "
          >
            {{ "JOIN" | translate }}

            <i
              class="material-symbols-outlined floating-right-animation navigation--icon-in-text icon-lg"
            >
              keyboard_double_arrow_right
            </i>
          </button>

          @if (joinMessage) {
          <p class="form-message flashing-component">
            {{ joinMessage }}
          </p>
          }
        </form>
      </section>
      }

      <!-- Enemy found -->
      @if (mmakingState === screens.nicknameSelection) {
      <section class="page--component">
        <form #landingMatchForm="ngForm" class="match-form">
          <p class="section-text">
            {{ "AGA_FOUND" | translate }}
          </p>

          <div class="form-field">
            <label for="nickname">
              {{ "NICKNAME" | translate }}
            </label>

            <input
              type="text"
              id="nickname"
              name="nickname"
              class="standard-input"
              [(ngModel)]="nickname"
              [placeholder]="'NICKNAME_EXAMPLE' | translate"
              maxlength="22"
              required
              autofocus
            />
          </div>

          <button
            type="button"
            class="navigation--button flashing-animation"
            (click)="validPlayer()"
            [disabled]="landingMatchForm.invalid || playerValidated"
          >
            {{ "START" | translate }}

            <i
              class="material-symbols-outlined floating-right-animation navigation--icon-in-text icon-lg"
            >
              keyboard_double_arrow_right
            </i>
          </button>
        </form>
      </section>
      }

      <!-- Waiting for enemies -->
      @if (mmakingState === screens.waitingEnemies) {
      <section class="page--component">
        <section>
          <h2>{{ "WELCOME" | translate }}</h2>

          <p class="section-text">
            {{
              "BATTLE_WELCOME"
                | translate
                  : {
                      gameName: general.gameName,
                      battleTime: battleTime / 1000,
                      maxPlayers: general.maxPlayersSetting
                    }
            }}
          </p>

          <div class="infoblock--container">
            @if (general.scheduledStart) {
            <div class="infoblock">
              {{ "WHEN_TIMER" | translate }}
              <h2>{{ formattedStartTimer() }}</h2>
            </div>
            } @else {
            <div class="infoblock">
              {{ "WHEN_INSTANT" | translate }}
            </div>
            }

            <div class="infoblock">
              {{ "NUM_PLAYERS" | translate }}
              <h2>{{ aggregated.connectedPlayers }}</h2>
            </div>
          </div>

          @if (!general.scheduledStart && user.organizer) {
          <button
            type="button"
            class="navigation--button flashing-animation mt-4"
            (click)="playerReady()"
            [disabled]="readyClicked || aggregated.connectedPlayers === 1"
          >
            {{ "START" | translate }}

            <i
              class="material-symbols-outlined floating-right-animation navigation--icon-in-text icon-lg"
            >
              keyboard_double_arrow_right
            </i>
          </button>
          }
        </section>

        <!-- Invite friends -->
        <section class="invite-section mt-6">
          <h2>{{ "INVITE_YOUR_FRIENDS" | translate }}</h2>

          <p class="section-text">
            {{ "INVITE_DESC" | translate }}
          </p>

          <div class="copyable--container">
            <button type="button" class="copyable" (click)="copyCode()">
              <span class="copyable--big-text">
                {{ general.code }}
              </span>

              @if (codeCopied) {
              <span class="copyable--copy-text">
                <i class="material-symbols-outlined"> content_copy </i>
                {{ "COPIED" | translate }}
              </span>
              }
            </button>

            <button type="button" class="copyable" (click)="copyLink()">
              <span class="copyable--small-text">
                {{ matchUrl }}
              </span>

              @if (linkCopied) {
              <span class="copyable--copy-text">
                <i class="material-symbols-outlined"> content_copy </i>
                {{ "COPIED" | translate }}
              </span>
              }
            </button>
          </div>
        </section>

        <!-- Chat -->
        <app-chat
          [playerId]="user.playerId"
          [chatBubbles]="chatBubbles"
          [chatHints]="chatHints"
          (messageSent)="handleMessageSend($event)"
        />
      </section>
      }
    </div>
  </div>
</div>
