<div class="flags-div">
  <button class="modal--button-language" (click)="changeLanguage('it')">
    <img
    src="assets/img/flags/it.svg"
    alt="Italian"
    width="30"
    height="24"
  />
   Italiano
  </button>
  <button class="modal--button-language" (click)="changeLanguage('en')">
    <img
    src="assets/img/flags/en.svg"
    alt="Italian"
    width="30"
    height="24"
  /> English
  </button>
  <button class="modal--button-language" (click)="changeLanguage('hu')">
    <img
    src="assets/img/flags/hu.svg"
    alt="Italian"
    width="30"
    height="24"
  /> Magyar
  </button>
</div>
