<div class="page" id="login">
  <div class="page--wrapper">
    <div class="page--body">
      @if (screen !== ScreenState.Profile) {
        <p>
          {{ "LOGIN_DESC" | translate }}
        </p>
      }
      <!-- Login screen -->
      @if (screen === ScreenState.Login) {
        <section class="auth-container">
          <div class="auth-card">
            <h2 class="auth-title">
              {{
              isSignUp
              ? ("SIGNUP_TITLE" | translate)
              : ("LOGIN_TITLE" | translate)
              }}
            </h2>
            <form
              [formGroup]="authForm"
              (ngSubmit)="submitAuth()"
              class="auth-form"
              >
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  id="email"
                  type="email"
                  formControlName="email"
                  placeholder="test@example.com"
                  required
                  />
              </div>
              <div class="form-group">
                <label for="password">{{ "INSERT_PASSWORD" | translate }}</label>
                <div class="password-wrapper">
                  <input
                    id="password"
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="password"
                    placeholder="••••••••"
                    required
                    />
                  <span
                    class="material-symbols-outlined eye-icon"
                    (click)="togglePassword()"
                    >
                    {{ showPassword ? "visibility_off" : "visibility" }}
                  </span>
                </div>
              </div>
              @if (
                authForm.get('password')?.touched &&
                authForm.get('password')?.invalid
                ) {
                <div
                  class="error-text"
                  >
                  @if (authForm.get('password')?.errors?.['required'] || authForm.get('password')?.errors?.['pattern']) {
                    <small
                      >
                      {{ "PASSWORD_REQUIRED" | translate }}
                    </small>
                  }
                </div>
              }
              <!-- Forgot password -->
              @if (!isSignUp) {
                <div class="form-group text-right">
                  <button
                    type="button"
                    class="btn-link forgot-password"
                    (click)="onForgotPassword()"
                    >
                    {{ "FORGOT_PASSWORD" | translate }}
                  </button>
                </div>
              }
              @if (isSignUp) {
                <div class="form-group">
                  <label for="repeatPassword">{{
                    "CONFIRM_PASSWORD" | translate
                  }}</label>
                  <div class="password-wrapper">
                    <input
                      id="repeatPassword"
                      [type]="showRepeatPassword ? 'text' : 'password'"
                      formControlName="repeatPassword"
                      placeholder="••••••••"
                      required
                      />
                    <span
                      class="material-symbols-outlined eye-icon"
                      (click)="toggleRepeatPassword()"
                      >
                      {{ showRepeatPassword ? "visibility_off" : "visibility" }}
                    </span>
                  </div>
                </div>
              }
              @if (
                isSignUp &&
                authForm.errors?.['passwordMismatch'] &&
                authForm.get('repeatPassword')?.touched
                ) {
                <div
                  class="error-text"
                  >
                  <small> {{ "PASSWORD_MISMATCH" | translate }} </small>
                </div>
              }
              @if (isSignUp) {
                <div class="form-group relative">
                  <label for="nickname"
                    >{{ "NICKNAME" | translate }}
                    <button
                      type="button"
                      class="info-btn"
                      (mouseenter)="showInfo()"
                      (mouseleave)="hideInfo()"
                      (click)="toggleInfo()"
                      >
                      ⓘ
                    </button>
                  </label>
                  @if (infoVisible) {
                    <div class="info-tooltip">
                      {{ "LOGIN_SETNICK_DESC" | translate }}
                    </div>
                  }
                  <input
                    id="nickname"
                    type="text"
                    formControlName="nickname"
                    placeholder="{{ 'NICKNAME_EXAMPLE' | translate }}"
                    required
                    />
                </div>
              }
              <button
                class="btn-primary"
                type="submit"
                [disabled]="authForm.invalid || loading"
                >
                {{ isSignUp ? ("REGISTER_BTN" | translate) : "Login" }}
              </button>
            </form>
            <div class="auth-footer">
              <button type="button" class="btn-link" (click)="toggleMode()">
                {{
                isSignUp
                ? ("ALREADY_HAVE_ACCOUNT" | translate)
                : ("NEED_SIGN_UP" | translate)
                }}
              </button>
            </div>
          </div>
        </section>
      }
    </div>
    <div class="page--push"></div>
  </div>

  @if (singleOptionModal) {
    <app-single-option-modal
      [text]="singleOptionText"
      (ok)="singleOptionOk()"
      >
    </app-single-option-modal>
  }

  @if (multiOptionsModal) {
    <app-multi-options-modal
      [text]="multiOptionsText"
      (ok)="multiOptionsOk()"
      (cancel)="multiOptionsCancel()"
      >
    </app-multi-options-modal>
  }
</div>
