<div id="bootmp-aftermatch" class="app-page">
  <div class="app-page-body">
    <div class="app-page-text flex flex-col items-center gap-8">
      <!-- Header -->
      @if (general?.botSetting !== 0) {
      <div class="points-row">
        <div class="flex flex-col items-center">
          <div class="big-text ellipsize">
            {{ userGlobal.points }}
          </div>

          <div class="ellipsize">
            {{ user.nickname }}
          </div>
        </div>

        <div class="flex flex-col items-center">
          <div class="big-text ellipsize">
            {{ enemyGlobal.points }}
          </div>

          <div class="ellipsize">
            {{ enemy.nickname }}
          </div>
        </div>
      </div>
      } @if (general?.botSetting === 0) {
      <div class="flex flex-col items-center">
        <div class="big-text ellipsize">
          {{ userGlobal?.points }}
        </div>

        <div class="ellipsize">
          {{ user?.nickname }}
        </div>
      </div>
      }

      <!-- Winner -->
      @if (general?.botSetting !== 0) {
      <section>
        @if (!draw) {
        <h2 class="capitalize">
          {{
            "WINNER" | translate : { winner: winner, matchCount: matchCount }
          }}
        </h2>
        } @if (draw) {
        <h2>
          {{ "DRAW" | translate }}
        </h2>
        }
      </section>
      }

      <!-- Stats -->
      <section class="stats">
        <span class="stats--header">
          {{ "STATS_TITLE" | translate }}
        </span>

        <p class="stats--line">
          <span class="material-symbols-outlined"> footprint </span>

          {{ "STATS_MOVES" | translate }}

          <span class="stats--player-text">
            {{ userMatch?.pathLength }}
          </span>

          @if (general?.botSetting !== 0) {
          <span>-</span>

          <span class="stats--enemy-text">
            {{ enemyMatch?.pathLength }}
          </span>
          }
        </p>

        <p class="stats--line">
          <span class="material-symbols-outlined"> schedule </span>

          {{ "STATS_TIME" | translate }}

          <span class="stats--player-text">
            {{
              userMatch?.time >= 0 ? timeFormatter(userMatch?.time) : "00:00"
            }}
          </span>

          @if (general?.botSetting !== 0) {
          <span>-</span>

          <span class="stats--enemy-text">
            {{ timeFormatter(enemyMatch?.time) }}
          </span>
          }
        </p>

        <p class="stats--line">
          <span class="material-symbols-outlined"> smart_toy </span>

          {{ "STATS_POINTS" | translate }}

          <span class="stats--player-text">
            {{ userMatch?.points }}
          </span>

          @if (general?.botSetting !== 0) {
          <span>-</span>

          <span class="stats--enemy-text">
            {{ enemyMatch?.points }}
          </span>
          }
        </p>
      </section>

      <!-- Share -->
      <div class="flex flex-col items-center">
        <button
          class="navigation--button flashing-animation"
          (click)="shareText()"
        >
          {{ "SHARE" | translate }}

          <span
            class="material-symbols-outlined inline-block animate-slide-left icon-lg"
          >
            keyboard_double_arrow_right
          </span>
        </button>

        @if (sharedLegacy) {
        <div class="copyable--copy-text">
          <i class="far fa-copy copyable--copy-icon"></i>
          {{ "COPIED" | translate }}
        </div>
        }
      </div>

      <!-- Play again -->
      <button
        class="navigation--button flashing-animation"
        (click)="newMatch()"
      >
        {{ "PLAY_AGAIN" | translate }}

        <span
          class="material-symbols-outlined inline-block animate-slide-left icon-lg"
        >
          keyboard_double_arrow_right
        </span>
      </button>
    </div>
  </div>
</div>
