<div id="custom-mmaking" class="page">
  <div class="page--wrapper">
    <div class="page--body">
      <!-- Join Match Screen -->
      <div *ngIf="mmakingState === screens.joinMatch" class="page--component">
        <ul class="list">
          <li class="list--simple-element">
            <h2>{{ "CUSTOM_MATCH" | translate }}</h2>
          </li>
          <li class="list--spaced-element">
            {{ "CUSTOM_MATCH_DESC" | translate }}
          </li>
          <li class="list--spaced-element flex justify-center">
            <button
              class="navigation--button flashing-animation flex items-end justify-center mb-0"
              (click)="goToCreateMatch()"
              [disabled]="mmakingRequested"
            >
              <span [innerHTML]="'NEW_CUSTOM_MATCH' | translate"></span>
              <span
                class="material-symbols-outlined inline-block animate-slide-left icon-lg"
                >{{ "keyboard_double_arrow_right" }}</span
              >
            </button>
          </li>
        </ul>

        <br />

        <form #customMatchForm="ngForm">
          <ul class="list">
            <li class="list--simple-element">
              <h2>{{ "JOIN_TITLE" | translate }}</h2>
            </li>
            <li class="list--spaced-element">{{ "JOIN_DESC" | translate }}</li>

            <li class="list--simple-element">
              <label for="code">{{ "CODE" | translate }}</label>
            </li>
            <li class="list--spaced-element">
              <input
                type="number"
                name="codeValue"
                id="code"
                class="standard-input"
                [(ngModel)]="codeValue"
                placeholder="{{ 'CODE_EXAMPLE' | translate }}"
                max="9999"
                min="1"
                required
                autofocus
              />
            </li>

            <li class="list--spaced-element flex justify-center">
              <button
                class="navigation--button flashing-animation"
                (click)="joinGame(codeValue)"
                [disabled]="customMatchForm.invalid || mmakingRequested"
              >
                {{ "JOIN" | translate }}
                <i
                  class="material-symbols-outlined inline-block animate-slide-left icon-lg"
                  >{{ "keyboard_double_arrow_right" }}</i
                >
              </button>
            </li>

            <li
              class="list--spaced-element flashing-component"
              *ngIf="joinMessage"
            >
              {{ joinMessage }}
            </li>
          </ul>
        </form>
      </div>

      <!-- Nickname Screen -->
      <div
        *ngIf="mmakingState === screens.nicknameSelection"
        class="page--component"
      >
        <form #landingMatchForm="ngForm">
          <ul class="list">
            <li class="list--spaced-element">
              {{
                "MATCH_JOINED"
                  | translate
                    : { enemyNickname: enemy.nickname, totTime: totTime }
              }}
            </li>
            <li class="list--simple-element">
              <label for="nickname">{{ "NICKNAME" | translate }}</label>
            </li>
            <li class="list--spaced-element">
              <input
                type="text"
                name="nickname"
                id="nickname"
                class="standard-input"
                [(ngModel)]="nickname"
                placeholder="{{ 'NICKNAME_EXAMPLE' | translate }}"
                maxlength="22"
                required
                autofocus
              />
            </li>
            <li class="list--spaced-element">
              <button
                class="navigation--button flashing-animation"
                (click)="validPlayer()"
                [disabled]="landingMatchForm.invalid || playerValidated"
              >
                {{ "START" | translate }}
                <span
                  class="material-symbols-outlined inline-block animate-slide-left icon-lg"
                  >{{ "keyboard_double_arrow_right" }}</span
                >
              </button>
            </li>
          </ul>
        </form>
      </div>

      <!-- Waiting Enemy -->
      <div
        *ngIf="mmakingState === screens.waitingEnemy"
        class="page--component"
      >
        <ul class="list">
          <li class="list--spaced-element">
            {{ "ENEMY_INVITATION_DESC" | translate }}
          </li>
          <li class="list--spaced-element">
            <div class="copyable" (click)="copyCode()">
              <div class="copyable--big-text">{{ general?.code }}</div>
              <div class="copyable--copy-text" *ngIf="codeCopied">
                <i class="material-symbols-outlined inline-block">{{
                  "content_copy"
                }}</i>
                {{ "COPIED" | translate }}
              </div>
            </div>
          </li>
          <li class="list--spaced-element">
            {{ "ENEMY_INVITATION_SUB_DESC" | translate }}
          </li>
          <li class="list--spaced-element">
            <div class="copyable" (click)="copyLink()">
              <div class="copyable--small-text">{{ matchUrl }}</div>
              <div class="copyable--copy-text" *ngIf="linkCopied">
                <i class="material-symbols-outlined inline-block">{{
                  "content_copy"
                }}</i>

                {{ "COPIED" | translate }}
              </div>
            </div>
          </li>
          <li class="list--spaced-element flashing-animation">
            {{ "ENEMY_WAIT" | translate }}
          </li>
        </ul>
      </div>

      <!-- Enemy Found -->
      <div
        *ngIf="mmakingState === screens.enemyFound"
        id="enemy-found"
        class="page--component"
      >
        <ul class="list">
          <li class="list--spaced-element">
            {{ "NEW_ENEMY" | translate : { enemyNickname: enemy.nickname } }}
          </li>
          <li class="list--simple-element">
            <button
              class="navigation--button flashing-animation"
              (click)="playerReady()"
              [disabled]="readyClicked"
            >
              {{ "START" | translate }}
              <span
                class="material-symbols-outlined inline-block animate-slide-left icon-lg"
                >{{ "keyboard_double_arrow_right" }}</span
              >
            </button>
          </li>
        </ul>
      </div>

      <!-- Waiting Ready -->
      <app-spinner
        *ngIf="mmakingState === screens.waitingReady"
        id="waiting-confirm"
        class="page--component"
        [messageKey]="'ENEMY_WAIT'"
      ></app-spinner>
      <div
        *ngIf="
          mmakingState === screens.enemyFound ||
          mmakingState === screens.waitingReady
        "
      >
        <app-chat
          [playerId]="user().playerId"
          [chatBubbles]="chatBubbles"
          [chatHints]="chatHints"
          (messageSent)="handleMessageSend($event)"
        />
      </div>
    </div>
    <div class="page--push"></div>
  </div>
</div>
