<div id="custom-mmaking" class="page">
  <div class="page--wrapper">
    <div class="page--body">
      <!-- Join Match -->
      <div *ngIf="mmakingState === screens.joinMatch" class="page--component">
        <ul class="list">
          <li class="list--simple-element">
            <h2>{{ "CUSTOM_MATCH" | translate }}</h2>
          </li>
          <li class="list--spaced-element">
            {{ "CUSTOM_MATCH_DESC" | translate }}
          </li>
          <li class="list--spaced-element">
            <button
              class="navigation--button flashing-animation"
              (click)="goToCreateMatch()"
              [disabled]="mmakingRequested"
            >
              <span translate>NEW_CUSTOM_MATCH</span>
              <i
                class="fas fa-angle-double-right floating-right-animation navigation--icon-in-text"
              ></i>
            </button>
          </li>
        </ul>

        <br />

        <form #customMatchForm="ngForm">
          <ul class="list">
            <li class="list--simple-element">
              <h2>{{ "JOIN_TITLE" | translate }}</h2>
            </li>
            <li class="list--spaced-element">{{ "JOIN_DESC" | translate }}</li>

            <li class="list--simple-element">
              <label for="code">{{ "CODE" | translate }}</label>
            </li>

            <li class="list--spaced-element">
              <input
                type="number"
                id="code"
                name="codeValue"
                max="9999"
                min="1"
                class="standard-input"
                [(ngModel)]="codeValue"
                placeholder="{{ 'CODE_EXAMPLE' | translate }}"
                required
                autofocus
              />
            </li>

            <li class="list--spaced-element">
              <button
                class="navigation--button flashing-animation"
                (click)="joinGame(codeValue)"
                [disabled]="customMatchForm.invalid || mmakingRequested"
              >
                {{ "JOIN" | translate }}
                <i
                  class="fas fa-angle-double-right navigation--icon-in-text floating-right-animation"
                ></i>
              </button>
            </li>

            <li
              class="list--spaced-element"
              *ngIf="joinMessage !== undefined"
              [ngClass]="joinMessage !== undefined ? 'flashing-component' : ''"
            >
              {{ joinMessage }}
            </li>
          </ul>
        </form>
      </div>

      <!-- Nickname selection -->
      <div
        *ngIf="mmakingState === screens.nicknameSelection"
        class="page--component"
      >
        <form #landingMatchForm="ngForm">
          <ul class="list">
            <li class="list--spaced-element">
              {{
                "MATCH_JOINED"
                  | translate
                    : { enemyNickname: enemy.nickname, totTime: totTime }
              }}
            </li>
            <li class="list--simple-element">
              <label for="nickname">{{ "NICKNAME" | translate }}</label>
            </li>
            <li class="list--spaced-element">
              <input
                type="text"
                id="nickname"
                name="nickname"
                [(ngModel)]="nickname"
                maxlength="22"
                placeholder="{{ 'NICKNAME_EXAMPLE' | translate }}"
                class="standard-input"
                [disabled]="userLogged"
                required
                autofocus
              />
            </li>
            <li class="list--spaced-element">
              <button
                class="navigation--button flashing-animation"
                (click)="validPlayer()"
                [disabled]="landingMatchForm.invalid || playerValidated"
              >
                {{ "START" | translate }}
                <i
                  class="fas fa-angle-double-right floating-right-animation navigation--icon-in-text"
                ></i>
              </button>
            </li>
          </ul>
        </form>
      </div>

      <!-- Waiting Enemy -->
      <div
        *ngIf="mmakingState === screens.waitingEnemy"
        class="page--component"
      >
        <ul class="list">
          <li class="list--spaced-element">
            {{ "ENEMY_INVITATION_DESC" | translate }}
          </li>
          <li class="list--spaced-element">
            <div class="copyable" (click)="copyCode()">
              <div class="copyable--big-text">{{ general.code }}</div>
              <div class="copyable--copy-text" *ngIf="codeCopied">
                <i class="far fa-copy copyable--copy-icon"></i>
                {{ "COPIED" | translate }}
              </div>
            </div>
          </li>
          <li class="list--spaced-element">
            {{ "ENEMY_INVITATION_SUB_DESC" | translate }}
          </li>
          <li class="list--spaced-element">
            <div class="copyable" (click)="copyLink()">
              <div class="copyable--small-text">{{ matchUrl }}</div>
              <div class="copyable--copy-text" *ngIf="linkCopied">
                <i class="far fa-copy copyable--copy-icon"></i>
                {{ "COPIED" | translate }}
              </div>
            </div>
          </li>
          <li class="list--spaced-element">
            <div class="flashing-animation">{{ "ENEMY_WAIT" | translate }}</div>
          </li>
        </ul>
      </div>

      <!-- Enemy found -->
      <div
        id="enemy-found"
        *ngIf="mmakingState === screens.enemyFound"
        class="page--component"
      >
        <ul class="list">
          <li class="list--spaced-element">
            {{ "NEW_ENEMY" | translate : { enemyNickname: enemy.nickname } }}
          </li>
          <li class="list--simple-element">
            <button
              class="navigation--button flashing-animation"
              (click)="playerReady()"
              [disabled]="readyClicked"
            >
              {{ "START" | translate }}
              <i
                class="fas fa-angle-double-right navigation--icon-in-text floating-right-animation"
              ></i>
            </button>
          </li>
        </ul>
      </div>

      <!-- Waiting Ready -->
      <div
        id="waiting-confirm"
        *ngIf="mmakingState === screens.waitingReady"
        class="page--component"
      >
        <ul class="list">
          <li class="list--spaced-element">
            <div class="loading-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </li>
          <li class="list--spaced-element">
            <div class="flashing-animation">{{ "ENEMY_WAIT" | translate }}</div>
          </li>
        </ul>
      </div>

      <!-- Chat -->
      <div
        class="chat"
        *ngIf="
          mmakingState === screens.enemyFound ||
          mmakingState === screens.waitingReady
        "
      >
        <div class="chat--bubbles-container">
          {{ "CHAT_TITLE" | translate }}
          <div
            class="chat--bubbles-sub-container"
            *ngFor="let bubble of chatBubbles"
          >
            <div class="chat--bubble-row">
              <div [ngClass]="getBubbleStyle(bubble)">
                <div class="chat--bubble-sender">{{ bubble.sender }}</div>
                {{ bubble.body | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="chat--hints-container">
          {{ "CHAT_SEND" | translate }}
          <div class="chat--hints-sub-container" *ngFor="let hint of chatHints">
            <button class="chat--hint" (click)="sendChatMessage(hint)">
              {{ hint | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="page--push"></div>
  </div>
</div>
